@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif ;
}
h1{
    width: 300px;
    height: 40px;
    color:  rgb(124, 4, 171);
    background-color:  rgb(222, 154, 249);
    border-style: solid;
    border-width: 0.3   ;
    border-color:  rgb(203, 114, 238);
}
h2{
    color: rgb(124, 4, 171);
    border-style: solid;
}
p{
    border-style: ;

}