@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #d3d3d3;
}
h1{
    background-color: #240046;
    color: #d3d3d3;
    text-align: center;
    text-decoration: none;
}
h1 > a {
    color: #d3d3d3;
    text-decoration: none;
}
h2{
    text-align: center;
    color: #d3d3d3;
    background-color: #240046;
}
h3{
    color: #d3d3d3;
}
header{
    text-align: center;
}
nav{
    text-align: center;
}
main{
    text-align: center;
}
footer{
    text-align: right;
}
.container{
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}
.box{
    width: 100px;
    height: 22px;
    background-color: #7b2cbf;
    border-radius: 6px;
    text-align: center;
}
.livro{
    background-color: #7b2cbf;
    font-style: italic;
    border-radius: 10px;
    text-align: center;
}
